* {
    margin: 0;
}

body {
    background: #000;
    color: #EEE;
    text-shadow: 1px 1px #333;
    font-family: sans-serif;
    font-size: 62.5%;
}

h1 {
    font-size: 20pt;
    font-size: 2.0rem;
    padding: 8px;
}

h2 {
    font-size: 16pt;
    font-size: 1.6rem;
    padding: 8px;
    text-align: justify;
}

h3 {
    font-size: 14pt;
    font-size: 1.4rem;
    padding: 8px;
    text-align: center;
}

p {
    font-size: 11pt;
    font-size: 1.1rem;
    padding: 8px;
}

/*Tiles*/
.tile {
    min-width: 64px;
    max-width: 64px;
    min-height: 64px;
    max-height: 64px;
    position: absolute;
}

.floor {
    -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
    -moz-transform: rotate(-45deg) skew(15deg, 15deg);
    -o-transform: rotate(-45deg) skew(15deg, 15deg);
    -ms-transform: rotate(-45deg) skew(15deg, 15deg);
    transform: rotate(-45deg) skew(15deg, 15deg);
    top: 64px;
    left: 64px;
}

.rightWall {
    -webkit-transform: rotate(15deg) skew(15deg, 15deg);
    -moz-transform: rotate(15deg) skew(15deg, 15deg);
    -o-transform: rotate(15deg) skew(15deg, 15deg);
    -ms-transform: rotate(15deg) skew(15deg, 15deg);
    transform: rotate(15deg) skew(15deg, 15deg);
    top: 15px;
    left: 92px;
}

.leftWall {
    -webkit-transform: rotate(-15deg) skew(-15deg, -15deg);
    -moz-transform: rotate(-15deg) skew(-15deg, -15deg);
    -o-transform: rotate(-15deg) skew(-15deg, -15deg);
    -ms-transform: rotate(-15deg) skew(-15deg, -15deg);
    transform: rotate(-15deg) skew(-15deg, -15deg);
    top: 14px;
    left: 36px;
}

.cursor {
    min-width: 64px;
    max-width: 64px;
    min-height: 64px;
    max-height: 64px;
    position: absolute;
    border: 1px dashed #FE2;
    -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
    -moz-transform: rotate(-45deg) skew(15deg, 15deg);
    -o-transform: rotate(-45deg) skew(15deg, 15deg);
    -ms-transform: rotate(-45deg) skew(15deg, 15deg);
    transform: rotate(-45deg) skew(15deg, 15deg);
    z-index: 1;
}

.preview {
    padding: 24px;
    text-align: center;
    margin: 0 auto;
    background: #039;
    border: 1px solid #028;
}

.preview .floor,.preview .leftWall,.preview .rightWall {
    top: 0;
    left: 88px;
}

#debug {
    min-width: 64px;
    position: absolute;
    right: 8px;
    z-index: 2;
    background: #06C;
    border: 2px solid #FE2;
    text-align: center;
    padding: 8px;
    margin: 8px;
}

.tileNext,.tilePrevious,.colorNext,.colorPrevious {
    display: inline-block;
    cursor: pointer;
}
